<h3>Some songs I have made</h3>

<p>I used to make music, it was my hobby before I got into programming. Recently I've started playing with Logic Pro X (I used to use Cubase on a PC). <br />Here are the results of me just testing out what I can do<sup>*</sup>:</p>
<p><small><sup>*</sup>Well, it's just stuff I chucked online.</small></p>

<div class="tracks">
	{{#each soundcloudtracks}}
		<div class="trackContainer">
			<div class="track" data-waveform="{{waveform_url}}" data-uri="{{uri}}">
				<h4>{{title}}</h4>
				<h6>{{genre}}</h6>
				<p>{{description}}</p>
				<button>Play</button>
			</div>
			<div class="player"></div>
		</div>
	{{/each}}
</div>

<script src="http://connect.soundcloud.com/sdk.js"></script>